html {
    scroll-behavior: smooth;
}

body {
    padding-top: 70px;
}

.placeholder-img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.hero-img {
    height: 600px;
}

body{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    scroll-margin-top: 100px;
}

.navbar-sticky{
    position: sticky;
    top: 0;
    z-index: 1;
}

.img_class{
    height: 50dvh;
}

section{
    scroll-margin-top: 100px;
    height: 200px;
}